:root {
    --typefaceSansSerif: "Arial", "Helvetica", sans-serif; 
    --typefaceSerif: "Times New Roman", "Baskerville", serif; 
    /* may need to change later on to account for global, user-driven changes */ 
    --typeBodySizeSmall: 16pt; 
    --typeBodySizeNormal: 20.8pt; 
    --typeBodySizeBig: 25.6pt; 
    --typeTitleSizeSmall: 50pt; 
    --typeTitleSizeNormal: 65pt; 
    --typeTitleSizeBig: 80pt;
}

.cls-1 {
    fill: #1e1c19;
    stroke: #1e1c19;
    stroke-linecap: round; 
    stroke-width: 4.5px; 
}

.cls-2 {
    fill: #f9f4ed;
}

.global {
    position: fixed; 
    right: 50px; 
}

/*not really fixing visual issues? */
.waffleGlobal {
    width: 50px;
    height: 50px; 
}

.homeGlobal {
    width: 50px;
    height: 50px; 
}

.waffleButton {
    background-color: #f9f4ed;
}

.homeButton {
    background-color: #f9f4ed;
}

.static {
    margin-left: 20%;
    margin-right: 20%; 
}

/* tested for Samsung Galaxy S8 */ 
@media screen and (min-width: 360px) {
        .static {
        margin-left: 5%;
        margin-right: 15%; 
    }
}

.title {
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeTitleSizeSmall); 
    background-color: white;
}

.body{
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
    background-color: white;
}

.twoImages {
    display: flex; 
    gap: 50px;
    justify-content: space-evenly;
}

.imageLeft { 
    width: 350px;
    height: 350px; 
    background-color: white;
}

.imageRight {
    width: 350px;
    height: 350px; 
    background-color: white;
}

.twoButtons {
    display: flex;
    gap: 50px;
    justify-content: space-evenly; 
}

.buttonLeft {
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
    background-color: #f9f4ed;
}

.buttonRight {
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
    background-color: #f9f4ed;
}


/* variables are definited by a ":root", then called with a "var()" */ 
/*

:root{
    --colorBGtest: #1e1c19;
    --colorBGtest2: #f9f4ed;
}