:root {
    --typefaceSansSerif: "Arial", "Helvetica", sans-serif; 
    --typefaceSerif: "Times New Roman", "Baskerville", serif; 
/* USE A WEB-HOSTED(?) FONT—WILL PULL FROM THE WEB; probably comes closer to what you wanted;
Google Fonts' "Get Embed Code" */ 
/* may need to change later on to account for global, user-driven changes */ 
    --typeBodySizeSmall: 16pt; 
    --typeBodySizeNormal: 20.8pt; 
    --typeBodySizeBig: 25.6pt; 
    --typeTitleSizeSmall: 50pt; 
    --typeTitleSizeNormal: 65pt; 
    --typeTitleSizeBig: 80pt;
    --borderRadius: 10px; 

/*changeable variables per button: */ 
    --temp_contrastMed: #f9f4ed; 
    --color_temp: white; 
    
/* global menu variables */
    --waffleSide: 0px;

/* SWAPPABLE VARIABLES: */

/*button openings*/
    --waffleSide_close: 0px;
    --waffleSide_open: 20%;
    
/*accessibility menu*/
    /*colors*/
    --bgColorB: #1e1c19;
    --bgColorW: #f9f4ed; 
    
/*test*/
    --primary-bg-color: #1e90ff;
    --primary-color: #ffffff; 
}

/* SVGs */
.cls-1 {
    fill: #1e1c19;
    stroke: #1e1c19;
    stroke-linecap: round; 
    stroke-width: 4.5px; 
}

.cls-2 {
    fill: #f9f4ed;
}

/* GLOBAL ELEMENTS */
.global {
    position: fixed; 
    right: 125px; 
    display: flex; 
    flex-direction: column; 
}

.waffleGlobal {
    width: 50px;
    height: 50px; 
    
}
 
.homeGlobal {
    width: 50px;
    height: 50px; 
    
}

/* GLOBAL ELEMENTS: buttons*/
.waffleButton {
    background-color: var(--temp_contrastMed);
    display:flex;
    align-items: center;  
    justify-content: space-evely; 
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
}

.homeButton {
    background-color: var(--temp_contrastMed);
    display:flex;
    align-items: center;  
    justify-content: space-evenly; 
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
}

.svgWaffle {
    margin-bottom: -70px; /* changing the bottom margins helps to shrink button/rid of unwanted negative space */
}

.waffle_subMenu {
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    background-color: var(--bgColorB);
    width: var(--waffleSide); 
}

.optn_accessibility {
    
}
.optn_sourceList {
    
}
.optn_achievements {
    
}

.svgHome {
    margin-bottom: -70px; 
}

/* STATIC ELEMENTS */
.static {
    margin-left: 20%;
    margin-right: 20%; 
}

@media screen and (min-width: 360px) and (max-width: 500px) { 
        .static {
        margin-left: 5%;
        margin-right: 15%; /* accomadated for Samsung Galaxy S8 */ 
    }
}

.title {
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeTitleSizeSmall); 
    background-color: var(--color_temp);
}

.body{
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--color_temp);
}

.linkExternal {
    background-color: var(--color_temp);
}

.oneImage {
    display: flex; 
    width: auto;
    height: 350px; /*!!!need to correct vertical px later—edit flex itself? */
    background-color: var(--color_temp);
}

.twoImages {
    display: flex; 
    gap: 50px;
    justify-content: space-evenly;
}

.threeImages {
    display: flex; 
    gap: 5%;
    justify-content: space-evenly;
}

.imageLeft {  
    width: 40%;
    height: 350px; 
    background-color: var(--color_temp);
}

.imageRight {
    width: 40%;
    height: 350px; 
    background-color: var(--color_temp);
}

.imageThreeLeft {
    width: 30%;
    height: 350px;
    background-color: var(--color_temp);
}

.imageThreeMiddle {
    width: 30%;
    height: 350px; 
    background-color: var(--color_temp);
}

.imageThreeRight {
    width: 30%;
    height: 350px; 
    background-color: var(--color_temp);
}

.twoButtons {
    display: flex;
    gap: 50px;
    justify-content: space-evenly; 
}

.threeButtons {
    display: grid; /*defines grid as a whole; child "commands" define alignment of each individual grid item through their divs */
    grid-template-columns: 33% 33% 33%;  
    /* border: 2px solid black; */ /*temp, grid testing */
}

.grid_3s {
    display: grid; /*rememeber—flex display will autofill the negative space for you... not what you want when controlling positions of each item in a grid*/
    justify-content: center; 
}

.buttonLeft {
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonRight {
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed); 
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonLeft_3s {
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonMiddle_3s {
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonRight_3s {
    font-family: var(--typefaceSansSerif);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed); 
    border-radius: var(--borderRadius);
    padding: 20px; 
}

/* variables are definited by a ":root", then called with a "var()" */ 
/*

:root{
    --colorBGtest: #1e1c19;
    --colorBGtest2: #f9f4ed;
}

*/
