/* variables are definited by a ":root", then called with a "var()" */ 


:root{
    --colorBGtest: #1e1c19;
    --colorBGtest2: #f9f4ed;
}

.globalUI {
    position: fixed; 
    width: 100%;
    scale: 0.1;
    top: -500px; 
    right: -700px; 
/* figure out why black rectangle behind is not going away */ 
}

.cls-1 {
    fll: #1e1c19;
    stroke: #1e1c19;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 4.5px;
}

.cls-2 {
    fill: #f9f4ed;
}

.home {
    scale: 10;
    background-color: #000000;
}

.waffle {
    scale: 10; 
    background-color: #000000; 
}

.containerGlobal {
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1000px; 
    scale: 1;
    background-color: blue; 
}

body {
    background: var(--colorBGtest1);
    color: var(--colorBGtest);
    margin-left: 250px;
    margin-right: 250px;
}

.container {
    /* background-color: red; */ 
    font-family: "Arial", sans-serif;
    /* FIND SOMETHING LIKE FREIGHT SANS...*/
}

.title {
    color: var(--colorBGtest); 
    font-size: 50pt;
}

.bodyCopy {
    color: var(--colorBGtest);
    font-size: 16pt;
    margin: 0pt;
    line-height: 1.5;
}

.imageGrid_2s {
    display: grid ; 
    grid-template-columns: 1fr 1fr; 
    position: absolute; 
    object-fit: cover;  
    outline-width: 1px;
    outline-color: black; 
}

/* use the following to display images: */ 

.gridImage img {
    width: 100%;
    height: 50%; 
    object-fit: cover; 
    display: block;
}
/* i have NO idea why adding "img" at the end does something */ 

/*
.navigBottomImg { 
    position: relative;
    left: 150px;  
    height: auto;  
}

.imagery {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    transform: scale(0.1);
    transform-origin: top left; 
}
/* find out how to rescale in-line images ALONGSIDE the layouts... */ 

/*

.navigButtomButton {
    position: relative; 
    left: 300px; 
    top: -300px;
}

.navigButtons {
    display: grid; 
    grid-template-columns: 10% 10% auto;
}



/* why isn't 26 giving the proper height? (16 = optically matched to SVG as openned in browser) */

/*

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 0.5px solid #AA0000;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

/*
.title {
    color: #FEAACB: 
}
